<app-public-header></app-public-header>
<main class="welcome-content">
  <div class="min-h-screen flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-8 text-indigo-600">Sistema de PQRS del Ministerio del Trabajo</h1>
      <p class="mb-8 text-gray-600 text-lg">Bienvenido a nuestro sistema de Peticiones, Quejas, Reclamos y Sugerencias</p>
      
      <div class="space-x-4">
        <button 
          mat-raised-button 
          color="primary"
          (click)="goToLogin()">
          Iniciar Sesión
        </button>
        <button 
          mat-raised-button 
          color="accent"
          (click)="goToRegister()">
          Registrarse
        </button>
        <button 
          mat-raised-button 
          color="secondary"
          (click)="goToActivateToken()">
          Activar Token
        </button>
        <button 
            mat-raised-button
            class="yellow-button"
            (click)="goToCretaPqrs()">
            Crear PQRS
            </button>
      </div>
    </div>
  </div>
</main>
<app-public-footer></app-public-footer>